<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Article:</strong>
  <%= @tag.article %>
</p>

<p>
  <strong>Section:</strong>
  <%= @tag.section %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
